@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: black;
  background: linear-gradient(to right,
      #070F2B,
      #1B1A55);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.rate-item {
  background: #9290C3;
}

.rate-item:nth-child(odd) {
  background: #535C91;
}

h1 {
  color: white;
  margin-bottom: 6px;
  font-size: 22px;
  font-weight: 600;
}

.message {
  color: white;
  margin-top: 33px;
  font-size: 16px;
}