@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: black;
  background: linear-gradient(to right,
      #070F2B,
      #1B1A55);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

nav {
  text-align: right;
}

[dir="rtl"] nav,
nav[dir="rtl"] {
  text-align: left;
}

select {
  padding: 6px;
}

.rate-item {
  background: #9290C3;
  padding: 6px;
  margin: 3px;
}

.rate-item:nth-child(odd) {
  background: #535C91;
}

h1 {
  color: white;
  margin-bottom: 6px;
  font-size: 22px;
  font-weight: 600;
}

.message {
  color: white;
  margin-top: 33px;
  font-size: 16px;
}